<div class="top-image">
    <img src="assets/simpleblog.png">
  　</div>
<div class="about">
  <p>このブログは機能を最小限に抑えたシンプルなブログです。タイトルは30文字以内、内容も140文字までとなっています。<br>
  機能ばかり多くて辟易している方のためのソリューションです。
  </p>
</div>