// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.normal-form input{
  display: block;
  margin: 0 auto;
}

p.favorites_blogs{
  font-size: 3rem!important;
  padding-top:20px;
}